*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
    }
.ban {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(images/apparel.jpg);
    background-size : cover;
    background-position : center;
    
    }
.nav {
        width: 75%;
        margin: auto;
        padding: -30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.logo{
        width: 200px;
        cursor: pointer;
        margin-left: -250px;
        margin-top: -50px;
    }
.nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
.nav ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav ul li:hover::after{
    width: 100%;
}
.title{
    width: 100%;
    position: absolute;
    top: 350px;
    transform: translateY(-40%);
    text-align: center;
    color: white;    
}
.title h1{
    font-size: 50px;
    margin-top: 20px;
    color: yellow;
    background-size: 250px;
    background-color: black;
    
}
.title p1{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
}