*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
    }
.ban {
    width: 100%;
    height: 100%;
    background-color: rgb(223, 223, 147);
    background-image: linear-gradient(rgba(255, 255, 255, 0.623),rgba(255, 255, 255, 0.623)),url(images/creative_fashion_logo.jpg);
    background-size: 100%;
    background-position : center;
    
    }
.nav {
        width: 75%;
        margin: auto;
        padding: -30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.logo{
        width: 200px;
        cursor: pointer;
        margin-left: -250px;
        margin-top: -50px;
    }
.nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
.nav ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav ul li:hover::after{
    width: 100%;
}
.images{
    width: 100%;
    height: 100%;
}
.lv{
    width: 55%;
    height: 55%;
}
.gucci{
    width: 50%;
    height: 50%;
    float: right;
}
.prada{
    width: 55%;
    height: 55%;
}
.versace{
    width: 50%;
    height: 50%;
    float: right;
}
.dg{
    width: 55%;
    height: 55%;
}
.chanel{
    width: 50%;
    height: 50%;
    float: right;
}